.edit {
    background-color: rgb(8, 5, 145);
    color: white;
    padding: 8px;
    border-radius: 10px;
    align-content: center;
}

.btn {
    margin: 10px;
    padding: 10px;
}

label {
    color: rgb(8, 5, 145);
    padding: 10px;
    font-weight: bold;
}