.calendar-div {
    margin: auto;
    position: absolute;
    top: 40%;
    left: 50%;
    /* -ms-transform: translate(-50%, -50%); */
    transform: translate(-35%, -35%);
}

.rc-calendar {
    margin-top: 200px;
    background-color: #343A40;
    color: white;
}

#pets {
    height: auto;
    width: 400px;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */

    .calendar-div {
        /* position: relative;
        margin: auto;
        margin-bottom: 30px; */
        display: none;
    }

    #pets {
        /* z-index: 0;
        position: static;
        margin-top: 60px;
        padding: 60px; */
        display: none;
    }

    .rc-calendar {
        margin-top: 0;
    }
}