.hsmall {
  color: darkgray;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */

  .jumbotron {
    margin-top: 10px;
  }

  .display-4 {
    font-size: x-large;
  }

  h3 {
    font-size: large;
  }

  p {
    font-size: medium;
  }
}
