img {
    height: auto;
    width: 90%;
    margin: auto;
}

#login-container {
    background-color: rgba(12, 6, 102, 0.5);
    border-radius: 10px;
    border: 2px solid lightgray;
    margin: auto 30%;
    margin-top: 5%;
    padding: 10px;
}