.navbar-brand {
    font-family: 'Fredoka One', cursive;
}

.nav-item {
    font-family: 'Nunito', sans-serif;
}

.navbar {
    margin-bottom: 0!important;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .navbar-toggler {
        width: 50px;
    }

  }